.Icon{
    font-size: 27px;
    margin-left: 20px;
}

.NavFrame a{
    text-decoration: none;
    color: initial;
}

#navbarScrollingDropdown{
    width: 200px;
    margin: 0 20px;
    color:black;
}

.searchInput{
    margin-left: 30px;
}

.searchButton{
    margin-right: 10px;
}

#nav-dropdown{
    color: black;
}

#nav-dropdown:hover{
    background-color: rgb(75, 128, 149);
}

.activeColor{
    border-bottom: 1px solid rgba(128, 128, 128, 0.464);
}