.inputFrame{
    direction: rtl;
    width:450px;
    min-height:400px;
    margin:45px auto;
    background-color:rgb(187, 185, 185);
    border-radius: 8px;
    border: solid 2px rgba(0, 0, 0, 0.751);
    padding: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.inputFrame h1{
    color: #282c34;
    font-size: 35px;
    margin-bottom: 25px;
}

.formFieldLabel{
    margin: auto;
    text-align: right;
   color:cornflowerblue;
   border-radius: 4px;
}

.DivfieldError{
    display: block;
    margin:12px;
    height:12px;
}

form .btn.btn-primary{
    font-size: 20px;
    width:40%;
    background-color: cadetblue;
    margin: 25px auto 0 auto;
    padding: 8px 10px;
}

.failedLoginFieldError{
    background-color: red;
}

.inputFrame span{
    color:#282c34;
    font-size: initial;
    margin:25px;
}

@media (max-width: 900px) {
    .inputFrame{
        width:80%;
        margin:25px auto;
    }
}