#formAddCard{
    width: 80%;
    margin: 25px auto;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(156, 223, 171) ;
}

#formAddCard h1{
    margin:8px;
    color:rgb(255, 251, 247);
    font-size: 35px;
}

#formAddCard .row{
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    color:rgb(54, 53, 53);  
}

#formAddCard .col-sm-6{
    padding:10px;
}

#formAddCard .btn{
    margin-bottom: 15px;
}

.formAddCard .col-sm-2,
.formAddCard .col-sm-4,
.formAddCard .col-sm-6,
.formAddCard .col-sm-12{
    border: none;
    padding:5px;
}

#formAddCard .fieldError{
    border: 2px red solid;
}

.fieldErrorAddCard{
        padding:5px;
        display: inline-block;
        color:gray;
        border-radius: 10px;
}