nav{
    width: 100%;
    height:100%;
   padding: 12px 0;
    background-color: rgba(245, 242, 238, 0.856);
}

ul{
    display: flex;
    /* justify-content:; */
    align-items:center;
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
    margin:12px;
}


.icon{
    cursor: pointer;
    width:100px;
}

a{
    color:black;
    text-decoration: none;
    padding: 13px;
    border-radius: 30px;
    text-align: center;
}

nav a:hover {
    background-color: rgb(35, 130, 35);
}

input{
    width:250px;
    height:32px;
    border:none;
    border-bottom:1px solid gray;
    text-align: right;
    padding-right:8px;
    margin:0 35px 0 5px;
}


.inputDiv{
    display: flex;
}

.inputDiv button{
    border:none;
    background: none;
}

.inputDiv svg{
    font-size: 2em;
    cursor: pointer;
    margin-right: 5px;
    transition: 0.7s;
}

.inputDiv svg:hover{
    scale: 1.2;
} 

.moon {
    margin: 10px 15px;
}

.moon svg{
    font-size:1.7em;
}

.moon>svg:hover{
    cursor: pointer;
    color: rgb(67, 59, 59);
    /* filter:initial; */
}

.profile{
    width:60px;
    height:60px;
    border-radius: 50%;
    /* border: 1px solid rgb(71, 69, 69); */
    color:rgb(71, 69, 69);
}

.profile svg{
    padding-top: 5px;
    font-size:3em;
    text-align: center;
}