h1{
    margin:30px;
    padding-bottom: 12px;
    color: azure;
    font-size: 25px;
}

.frameGrid{
  padding: 0 25px;
  margin: auto;
}

.addCardIcon a{
text-decoration: none;
color:white;
margin: auto;
}


.addCardIcon{
  margin:0;
  padding: 0;
  width:55px;
  height:55px;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin: auto;
  background-color:rgb(60, 170, 106) ;
  position: fixed;
  top:150px;
  left:15px; 
}