.App {
  min-height: 100vh;
  /* direction: rtl; */
  background-color: #282c34;
  text-align: center;
  position: relative;
}

.App-header {
  min-height: 75px;
  color: white;
  font-size: 17px;
  text-align: center;
  position: sticky;
  top:0;
  z-index: 2;
}


main{
  padding: 0 25px;
}

main h1{
  margin:30px;
  color: azure;
  font-size: 25px;
}

footer.fot{
  min-width: 100%;
  background-color: rgb(202, 202, 176);
  position: fixed;
  bottom: 0;
  margin: 0;
  padding:0;
}


