.App {
  min-height: 100vh;
  background-color: #282c34;
  text-align: center;
  position: relative;
  padding-bottom: 100px;
}

.App-header {
  min-height: 75px;
  color: white;
  font-size: 17px;
  text-align: center;
  position: sticky;
  top:0;
  z-index: 2;
}

footer.fot{
  min-width: 100%;
  background-color: rgb(202, 202, 176);
  position: fixed;
  bottom: 0;
  margin: 0;
  padding:0;
  z-index: 3;
}


