.btn-group {
    /* display: flex; */
    /* justify-content: center;
    align-items:center; */
    gap:75px;
    
    
}

.btn.btn-primary{
  min-width: 25px;
   color: #282c34;
    font-size: 30px;
    background:none;
    border:none;
    margin:0 25px;
    display: block;
    padding:0;
    text-align: center;
}

.btn.btn-primary span{
  font-size: 10px;
  display: block;

}

.btn.btn-primary:active{
  color:rgb(117, 99, 76);
    border:none;
    background: none;
}

@media (max-width: 900px) {
  .btn.btn-primary{
    margin:0;
  }
  .btn.btn-primary span{
    display: none;
  }
}
