h1{
    margin:30px;
    padding-bottom: 12px;
    color: azure;
    font-size: 25px;
}

.frameGrid{
  padding: 0 10px;
  margin: auto;
  justify-content: space-evenly;
}

.cardFrame{
    width: 18rem;
    margin: 10px 20px ;
    box-shadow: 0 0 10px 0 black;
    padding-bottom: 3px;
}

.cardLink svg{
    font-size: 25px;
    padding: 0;
}
