.cardPage{
    /* width:100%;
    min-height: 300px; */
}

.headerCardPage{
    width: 100%;
    height: 250px;
    background-image:
    linear-gradient(to center, rgba(48, 45, 45, 0.795), rgba(72, 62, 69, 0.833));
  
    background-position: center;
    background-size: cover ;
    background-repeat:repeat;
    /* filter: blur(4px); */
    position: relative;
}

.headerCardPage h2{
    width:100%;
    height:100%;
    backdrop-filter: blur(5px);
    z-index: 2;
    padding: auto;
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    font-size: 60px;
    color:rgb(170, 162, 162);
}

.bodyCardPage{
    /* max-width:550px;
    min-height: 300px;
    margin: 35px auto;
    padding: 15px;
    text-align: right;
    border: 2px solid black; */
}

.col{
    border: 2px solid wheat;
}